__pycache__/
*.pkl
mlruns/
.env

# Ignore hanya DATA, bukan .dvc
data/raw/*
!data/raw/.gitkeep
!data/raw/*.dvc

data/processed/*
!data/processed/.gitkeep
!data/processed/*.dvc
/metrics.txt
/metrics.json
